main {
  background-color: #36055c;
  color: white;
}
#logo {
  color: #f244b4;
  font-size: 20px;
}
.navBtn {
  list-style: none;
}

.navBtn a {
  text-decoration: none;
  color: white;
}
li {
  text-transform: capitalize;
}
li:hover {
  cursor: pointer;
  border-bottom: 1px solid #f244b4;
}
