<footer>
    <div class="footerTxt">
        <p>The sparks foundation</p>
        <p>All rights are reserved </p>
    </div>
    <div class="devInfo">
        <p>Heba Ibrahem</p>
        <div class="social ">
            <a href="https://www.linkedin.com/in/heba-ibrahem/" >
                <!-- likein -->
                <!-- <fa-icon [icon]="linkedinIcon"></fa-icon> -->
                <i class="fa-brands fa-linkedin fa-2x"></i>
            </a>
            <a href="https://github.com/heba-ibrahem">
                <i class="fa-brands fa-github-square fa-2x"></i>
            </a>
        </div>

    </div>
</footer>
