<footer class="row  ">
  <div class="col-sm-5 p-5 text-center">
    <p>The sparks foundation</p>
    <p>All rights are reserved </p>
  </div>
  <div class="col-sm-5 p-5 mx-5">
    <p >Heba Ibrahem</p>
    <div class="col-sm-6  ">
      <a class="mx-3" href="https://www.linkedin.com/in/heba-ibrahem/">
        <i class="fa-brands fa-linkedin fa-2x"></i>
      </a>
      <a class="mx-3" href="https://github.com/heba-ibrahem">
        <i class="fa-brands fa-github-square fa-2x"></i>
      </a>
    </div>
  </div>
</footer>
