*{
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    background-color: #36055c;
    

}
.mainContent{
    display: flex;
    flex-direction: row;
}
.txt{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 50px 60px;
}
.txt h1{
    font-size: 60px;
    margin: 50px 0;
}
.img{
     display: flex;
    flex-direction: column;
    width: 40%;
}
.img img{
    max-width: 600px;
    min-width: 200px;
}
.mainContent button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #f244b4;
    align-self: center;
    margin: 50px 0 0 20px;

}
#btns{
    display: flex;
    flex-direction: row;
    
}
.mainContent button:hover{
    cursor: pointer;
    background-color: #f316a6;
}
